# Ignora a pasta venv e todo o seu conteúdo
venv/

# Ignora arquivos de ambiente
.env

# Ignora cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Ignora arquivos de configuração local
settings/local.py